# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Raw sleep datasets
data/sleep-edf/**/*.edf

# Generated datasets
outputs/*.csv

# Jupyter
.ipynb_checkpoints/

# IDE / OS
.vscode/
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log